<div class="cont">
    <h1 style="display: flexbox; color: red; font-size:xx-large;">Create a Client</h1>

    <form>
        <div class="form-group">
            <label for="meeting-topic">Meeting Topic</label><br>
            <input type="text" name="meeting-topic" class="form-control" placeholder="Enter Meeting Topic">
        </div>
        <div class="form-group">
            <label for="number-people">Number of People</label><br>
            <input type="text" name="number-people" class="form-control" placeholder="Enter Meeting Topic">
        </div>
<div class="form-group">
        <label for="start-date">Start Time</label><br>
        <input type="datetime-local" name="">
    </div>
    <div class="form-group">
        <button (click)="goBack('client-management')">Submit</button>
    </div>
    </form>
</div>
